*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

/* 'PROJECT LOGO HERE' */
#navbar-logo {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

/* Home, Gallery, About Us, Upload Image */
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

/* Home, Gallery, About Us */
.navbar__item {
  height: 80px;
}

/* Home/Gallery/About Us :: Clickable Link */
.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3 ease;
}

/* 'Upload Image' button location */
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

/* 'Upload Image' button styling */
.button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: 1px solid #ff132d;
  border-radius: 4px;
}

/* 'Upload Image' button hover effect */
.button:hover {
  background: #fff;
  color: #ff132d;
  transition: all 0.3s ease-in;
}

/* 'Home,Gallery,About Us' hover effect */
.navbar__links:hover {
  color: #ff132d;
  transition: all 0.3s ease;
}

/* Mobile Responsiveness */
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* hero section */
#heroVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  margin: 25px auto;
  height: 90%;
  text-align: center;
  /* padding: 30px; */
  padding: 350px;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #131313;
}

.hero__description {
  font-size: 60px;
  color: #131313;
}

/* highlight for menu */
.highlight {
  border-bottom: 4px solid #13f321;
}

/* mobile responsiveness for hero section */
@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }
}

/* gallery (main) section */
.main {
  background: #131313;
  padding: 10rem 0;
  color: white;
}

.main__img--container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in;
}

/* hover effect on gallery images */
.gallery__img:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* to target 1st image in gallery */
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* to target 2nd image in gallery */
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--4 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--8 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--9 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--10 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--11 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--12 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--13 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery__item--14 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery__item--15 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery__item--16 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

/* Prev and Next Buttons */
.main__container a {
  text-decoration: none;
  color: white;
  background: #dc3545;
  padding: 7px 10px;
  border-radius: 4px;  
  font-size: 19px;
}

/* prev button */
/* .main .main__container .prev {
  display:inline;
  float:left;
  margin-left:-200px;
  text-decoration:none;
} */

/* next button */
/* .main .main__container .next {
  display:inline;
  float:left;
  margin-right:-200px;
  text-decoration:none;
} */

.main__content {
  color: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.main__content h1 {
  font-size: 3rem;
  margin-bottom: 32px;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

/* ABOUT US SECTION */
.about {
  background: #ff132d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.about h1 {
  color: #fff;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.about__card {
  margin: 10px;
  height: auto;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  transition: 0.3s ease-in;
}

.about__card h2 {
  text-align: center;
}

.about__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.about__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* mobile responsiveness for about us section */
@media screen and (max-width: 1300px) {
  .about__wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .about_wrapper {
    grid-template-columns: 1fr;
  }
}

/* Upload Section */

.upload {
  background: #131313;
  padding: 10rem 0;
  color: white;
  text-align: center;
}

.upload__container {
  display: block;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  max-width: 1300px;
}

.upload__content {
  color: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

form {
  color: #fff;
  margin: 0 auto;
  align-items: center;
  padding: 0 100px;
}

.upload__content h1 {
  font-size: 3rem;
  margin-bottom: 32px;
}

.upload__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

.submit__btn {
  justify-content: center;
  align-items: center;
  background-color: #131313;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ff132d;
  border-radius: 4px;
  cursor: pointer;
}

.submit__btn:hover {
  background: #fff;
  color: #ff132d;
  transition: all 0.3s ease-in;
}

input[type="file"] {
    display: none;
}